*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 100dvw;
    height: 100dvh;
    background-color: orangered;
    position: relative;
    overflow-x: hidden;
}
@font-face {
    font-family: font;
    src: url(font.ttf);
}
.navbar{
    width: 100%;
    height: 8%;
    background-color: white;
    display: flex;
}
.image{
    width: 15%;
    margin-left: 8%;
    margin-top: 10px;
    height: 70%;
}
.word1{
    width: 150px;
    height: 50px;
    /* background-color: red; */
    justify-items: center;
    align-content:center;
    margin-left: 20px;
    margin-top: 10px;
}
.word1 p{
    font-size: 18px;
    color: #132442;
    font-weight: bolder;
}
.word1 :hover{
    background-color: #ffffff;
    opacity: 40%;
    cursor: pointer;
}
.word2{
    width: 150px;
    height: 50px;
    /* background-color: blue; */
    justify-items: center;
    align-content:center;
    /* margin-left: 20px; */
    margin-top: 10px;
}
.word2 p{
    font-size: 18px;
    color: #132442;
    font-weight: bolder;
}
.word2 :hover{
    background-color: #ffffff;
    opacity: 40%;
    cursor: pointer;
}
.div-holder{
    width: 20%;
    height: 100%;
    /* background-color: orchid; */
    display: flex;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
    /* margin-right: 20%; */
}
.word3{
    width: 80px;
    height: 50px;
    /* background-color: gold; */
    justify-items: center;
    align-content:center;
    /* margin-left: 20px; */
    margin-top: 10px;
}
.word3 p{
  font-size: 18px;
    color: #132442;
    font-weight: bolder;
}
.word3 :hover{
    background-color: #ffffff;
    opacity: 40%;
    cursor: pointer;
}
.word4{
    width: 80px;
    height: 50px;
    /* background-color: gold; */
    justify-items: center;
    align-content:center;
    /* margin-left: 20px; */
    margin-top: 10px;
}
.word4 p{
    font-size: 18px;
    color: #132442;
    font-weight: bolder;
}
.word4 :hover{
    background-color: #ffffff;
    opacity: 40%;
    cursor: pointer;
}
.word5{
    width: 80px;
    height: 50px;
    /* background-color: gold; */
    justify-items: center;
    align-content:center;
    /* margin-left: 20px; */
    margin-top: 10px;
}
.word5 p{
    font-size: 18px;
    color: #132442;
    font-weight: bolder;
}
.word5 :hover{
    background-color: #ffffff;
    opacity: 40%;
    cursor: pointer;
}
.image-holder{
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: relative;
}
.pics{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.over-lay{
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 99);
    position: absolute;
    opacity: 70%;
    justify-items: center;
    align-content: center;
}
.word-holder{
    width: 80%;
    height: 40%;
    /* background-color: blueviolet; */
    position: relative;
    /* margin-bottom: 20%; */
}
.online{
    font-size: 38px;
    font-family: font;
    text-align: center;
    color: white;
    margin-bottom: 3%;
    position: absolute;
    top: 25%;
}
.small-letters{
    font-size: 27px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-holder{
    width: 50%;
    height: 20%;
    /* background-color: red; */
    position: relative;
    display: flex;
    /* margin-bottom: 10%; */
}
.button{
    width: 35%;
    height: 40%;
    background-color: rgb(9, 83, 194);
    margin-top: 5%;
    margin-left: 8%;
    position: absolute;
    border-radius: 5px;
    justify-items: center;
    align-content: center;
}
.button p{
    font-size: 25px;
    color: #ffffff;
}
.button:hover{
    background-color: #0a5383;
    cursor: pointer;
}
.log{
    width: 35%;
    height: 40%;
    position: absolute;
    /* background-color: blueviolet; */
    margin-left: 47%;
    margin-top: 5%;
    justify-items: center;
    align-content: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.log p{
    font-size: 25px;
    color: #ffffff;
}
.small-nav{
    display: none;
}
.word-small{
    display: none;
}
.drop{
    display: none;
}
